{% extends 'app/base.html' %} {% load static %} {% block banner_slider %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="{% static 'app/images/banner/banner_ao_1.jpg' %}"
        class="d-block w-100"
        alt="..."
        height="500"
      />
      <div class="carousel-caption d-none d-md-block bg-success text-white">
        <h5>Áo thun</h5>
        <p>Màu trắng</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'app/images/banner/banner_ao_2.jpg' %}"
        class="d-block w-100"
        alt="..."
        height="500"
      />
      <div class="carousel-caption d-none d-md-block bg-success text-white">
        <h5>Áo thun</h5>
        <p>Màu xanh</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/banner_ao_3.jpg' %}"
        class="d-block w-100"
        alt="..."
        height="500"
      />
      <div class="carousel-caption d-none d-md-block bg-success text-white">
        <h5>Áo thun</h5>
        <p>Màu vàng</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/banner/banner_4.jpg' %}"
        class="d-block w-100"
        alt="..."
        height="500"
      />
      <div class="carousel-caption d-none d-md-block bg-success text-white">
        <h5>Áo thun</h5>
        <p>Màu đen</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner_slider %} {% block main_content %} {% comment %}
<div class="row">
  <div class="col-lg-4">
    <img class="thumbnail" src ="{% static "app/images/cow-ghee.png" %}">
    <div class="box-element product">
      <h6><strong>Sữa con bò</strong></h6>
      <hr />
      <button class="btn btn-outline-secondary add-btn">
        Thêm vào giỏ hàng
      </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right">
        <strong>200.000VNĐ</strong>
      </h4>
    </div>
  </div>
  <div class="col-lg-4">
    <img class="thumbnail" src ="{% static "app/images/cow-milk.png" %}">
    <div class="box-element product">
      <h6><strong>Sữa con lợn</strong></h6>
      <hr />
      <button class="btn btn-outline-secondary add-btn">
        Thêm vào giỏ hàng
      </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right">
        <strong>200.000VNĐ</strong>
      </h4>
    </div>
  </div>
  <div class="col-lg-4">
    <img class="thumbnail" src ="{% static "app/images/curd-premium.png" %}">
    <div class="box-element product">
      <h6><strong>Sữa con dê</strong></h6>
      <hr />
      <button class="btn btn-outline-secondary add-btn">
        Thêm vào giỏ hàng
      </button>
      <a class="btn btn-outline-success" href="#">Xem</a>
      <h4 style="display: inline-block; float: right">
        <strong>200.000VNĐ</strong>
      </h4>
    </div>
  </div>
</div>
{% endcomment %}

<div class="row" style="width:100%">
  {% for product in products %}
  <div class="col-lg-3">
    <img class="thumbnail" src ="{{product.ImageURL}}">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr />
      <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to card</button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: inline-block; float: right">
        <strong>$ {{product.price | floatformat:2}}</strong>
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
<br /><br /><br />
{% endblock main_content %}
